body,html{margin:0;padding:0;}

.text_bar{
    background-color: black;
    color: white;
    height: 25px;
    overflow: hidden; 
    white-space: nowrap; 
}

.text_bar p {
    animation: scrollText 15s linear infinite; 
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.clothes_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
}
.card{
    max-width: 250px;
    margin-bottom: 2em;
}
.banner_container img{
    max-width:100%;
    
}
.btn-custom{
    width: 70%;
}
.custom-search{
    max-width: 100px;
}
.icon-w{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    width: 50px;
    opacity: 0.8;
}
.icon-w:hover{
    opacity: 1;
}
@media (width >=1020px){
    .banner_containerpc{
        background-image: url(img/upbanner.JPEG);
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner_container{
        display: none;
    }
}
#buybutton img{
   width:20% ;
}
#buybutton{
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: #802227;
}
#buybutton:hover{
    background-color:#ac383e ;
}

@media (min-width: 600px) and (max-width: 900px) {
    .custom-search{
        max-width: 220px;
    }
}
div h1{
    font-size: 1.25em;
}

