body,html{margin:0;padding:0;}

.text_bar{
    background-color: black;
    color: white;
    height: 25px;
    overflow: hidden; 
    white-space: nowrap; 
}

.text_bar p {
    animation: scrollText 20s linear infinite; 
}

.btn-group{
    align-items: center;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.clothes_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
}
.card{
    max-width: 250px;
    margin-bottom: 2em;
}
.banner_container img{
    max-width:100%;
    
}
.btn-custom{
    width: 70%;
}
.custom-search{
    max-width: 100px;
}
.icon-w{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    width: 50px;
    opacity: 0.8;
}
.icon-w:hover{
    opacity: 1;
}
@media (width >=1020px){
    .banner_containerpc{
        background-image: url(img/upbanner.JPEG);
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner_container{
        display: none;
    }
    .searchcustom input{
        max-width: 500px;
    }
}
#buybutton img{
   width:20% ;
}
#buybutton{
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: black;
}
#buybutton:hover{
    background-color:rgb(20, 20, 20) ;
}

@media (min-width: 600px) and (max-width: 900px) {
    .custom-search{
        max-width: 220px;
    }
}
div h1{
    font-size: 1.25em;
}


li #signin,#sign{
    
    outline:  auto black;
    color: black;
    margin-right: 0.5em;

}
li #signup{
    background-color: black;
    color: white;
}
#signin:hover,#signup:hover{
    background-color: black;
    color: white;
}

li{
    display: flex;
}
.nav-link:hover{
    color: black;
}
.tab{
    max-width: 1200px;
    margin: auto;
}
.clothelink{
text-decoration: none;
color: black;
}
.contact {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}
.submit{
    background: black;
    color: white;
    border-radius: 6px;
    width: 6em;
}