body,html{margin:0;padding:0;}

.text_bar{
    background-color: black;
    color: white;
    height: 25px;
    overflow: hidden; 
    white-space: nowrap; 
}

.text_bar p {
    animation: scrollText 15s linear infinite; 
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.clothes_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3em;
}
.card{
    max-width: 180px;
    margin-bottom: 2em;
}
.banner_container img{
    max-width:100%;
    
}
.btn-custom{
    width: 70%;
}
.custom-search{
    max-width: 100px;
}